 

#Home{
    background-image: url(../Asset/back3.png);
    background-size:cover;
    height: 100%;
}
  
 

 /* #head{
    background-image: url(/Asset/backdrop.png);
    width: 100%;
    background-repeat: no-repeat;
    height: 100vh;
 } */